<div class="box" [style.left.px]="transformer.positionX" [style.top.px]="transformer.positionY"
     [style.width.px]="transformer.totalWidth" [style.height.px]="transformer.totalHeight">
  <div class="background" [attr.data-usable]="isMovable()"                  #background></div>
  <div class="border W"   [attr.data-usable]="isMovable() && isResizable()" #resizeW></div>
  <div class="border E"   [attr.data-usable]="isResizable()"                #resizeE></div>
  <div class="border N"   [attr.data-usable]="isMovable() && isResizable()" #resizeN></div>
  <div class="border S"   [attr.data-usable]="isResizable()"                #resizeS></div>
  <div class="corner NW"  [attr.data-usable]="isMovable() && isResizable()" #resizeNW></div>
  <div class="corner NE"  [attr.data-usable]="isMovable() && isResizable()" #resizeNE></div>
  <div class="corner SW"  [attr.data-usable]="isMovable() && isResizable()" #resizeSW></div>
  <div class="corner SE"  [attr.data-usable]="isResizable()"                #resizeSE></div>
</div>
