div.box {
  pointer-events: none;
  position: absolute;
  outline: 2px dashed rgba(0, 0, 0, 1.0);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1.0);
}

div.background, div.border, div.corner {
  pointer-events: auto;
  position: absolute;
}

div.background {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1) 10px,
    rgba(255, 255, 255, 0.1) 10px,
    rgba(255, 255, 255, 0.1) 20px
  );
}
div[data-usable='true'].background {
  cursor: move;
}
div[data-usable='false'].background {
  pointer-events: none;
}

div.W {
  left: -3px;
  top: 0;
  bottom: 0;
  width: 6px;
}
div[data-usable='true'].W {
  cursor: w-resize;
}
div[data-usable='false'].W {
  pointer-events: none;
}

div.E {
  right: -3px;
  top: 0;
  bottom: 0;
  width: 6px;
}
div[data-usable='true'].E {
  cursor: e-resize;
}
div[data-usable='false'].E {
  pointer-events: none;
}

div.N {
  left: 0;
  right: 0;
  top: -3px;
  height: 6px;
}
div[data-usable='true'].N {
  cursor: n-resize;
}
div[data-usable='false'].N {
  pointer-events: none;
}

div.S {
  left: 0;
  right: 0;
  bottom: -3px;
  height: 6px;
}
div[data-usable='true'].S {
  cursor: s-resize;
}
div[data-usable='false'].S {
  pointer-events: none;
}

div.NW {
  left: -3px;
  top: -3px;
  width: 7px;
  height: 7px;
}
div[data-usable='true'].NW {
  cursor: nw-resize;
}
div[data-usable='false'].NW {
  pointer-events: none;
}

div.NE {
  right: -3px;
  top: -3px;
  width: 7px;
  height: 7px;
}
div[data-usable='true'].NE {
  cursor: ne-resize;
}
div[data-usable='false'].NE {
  pointer-events: none;
}

div.SW {
  left: -3px;
  bottom: -3px;
  width: 7px;
  height: 7px;
}
div[data-usable='true'].SW {
  cursor: sw-resize;
}
div[data-usable='false'].SW {
  pointer-events: none;
}

div.SE {
  right: -3px;
  bottom: -3px;
  width: 7px;
  height: 7px;
}
div[data-usable='true'].SE {
  cursor: se-resize;
}
div[data-usable='false'].SE {
  pointer-events: none;
}
