<ol>
  <li *ngFor="let node of tree" [attr.data-node-id]="node.id">
    <div class="title" [class.selected]="node.selected"
         (tap)="onNodeClick(node.id)"
         dragPreview>{{node.id}}</div>
    <div class="dropZoneTop" #dropZone data-show="false"></div>
    <app-element-explorer-tree *ngIf="node.children" [tree]="node.children" #tree></app-element-explorer-tree>
    <div class="dropZoneBottom" #dropZone data-show="false"></div>
    <!-- TODO: drop zones appear twice, rearrange this to reduce lag and footprint -->
  </li>
</ol>
