:host {
  display: block;
}

ol {
  background: url('../../../../assets/el-expl-all.png') repeat-y;
  list-style: none;
  padding: 0;
  position: relative;
}
li {
  padding-left: 24px;
  padding-top: 2px;
  background: url('../../../../assets/el-expl-child.png') no-repeat;
  position: relative;
}
li:last-child {
  background: white url('../../../../assets/el-expl-child-last.png') no-repeat;
}
li > div.title {
  height: 20px;
  line-height: 20px;
  margin: 0;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
  border: 1px solid transparent;
}
li > div.selected {
  background-color: aliceblue;
}
li > div.title[data-active='true'] {
  outline: 2px solid lightgray;
}

div.dropZoneTop, div.dropZoneBottom {
  position: absolute;
  left: 24px;
  width: 40px;
  height: 20%;
  pointer-events: none;
}
div.dropZoneTop {
  border-top: 4px solid transparent;
  top: -3px;
}
div.dropZoneBottom {
  border-bottom: 4px solid transparent;
  bottom: -1px;
}
div.dropZoneTop[data-active='true'], div.dropZoneBottom[data-active='true'] {
  border-color: lightgray;
}
