<ol>
  <li *ngFor="let node of tree" [attr.data-node-id]="node.id">
    <div class="dropZoneTop" #dropZone data-show="false" [attr.data-before]="node.id"></div>
    <div class="title" [class.selected]="node.selected"
         (tap)="onNodeClick(node.id)"
         [attr.data-node-id]="node.id"
         dragPreview>{{node.id}}</div>
    <explorer-tree *ngIf="node.children" [tree]="node.children" #tree></explorer-tree>
    <div class="dropZoneBottom" #dropZone data-show="false" [attr.data-after]="node.id"></div>
  </li>
</ol>
