:host {
    background: white;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    position: absolute;
    overflow: hidden;
}

app-editor {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:200px;
    border: 1px solid gray;
    z-index: 1;
}

app-elements-pallete {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    width: 190px;
    border: 1px solid gray;
    z-index: 1;
}
