<div class="box" [style.top.px]="top" [style.left.px]="left" [style.width.px]="width" [style.height.px]="height">
  <div class="background" (mousedown)="onMouseDownActionMove($event)"></div>
  <div class="border W" (mousedown)="onMouseDownActionResize('Resize_W', $event)"></div>
  <div class="border E" (mousedown)="onMouseDownActionResize('Resize_E', $event)"></div>
  <div class="border N" (mousedown)="onMouseDownActionResize('Resize_N', $event)"></div>
  <div class="border S" (mousedown)="onMouseDownActionResize('Resize_S', $event)"></div>
  <div class="corner NW" (mousedown)="onMouseDownActionResize('Resize_NW', $event)"></div>
  <div class="corner NE" (mousedown)="onMouseDownActionResize('Resize_NE', $event)"></div>
  <div class="corner SW" (mousedown)="onMouseDownActionResize('Resize_SW', $event)"></div>
  <div class="corner SE" (mousedown)="onMouseDownActionResize('Resize_SE', $event)"></div>
</div>
